@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 88 47% 100%;
    --foreground: 88 60% 1%;
    --muted: 58 30% 93%;
    --muted-foreground: 58 7% 31%;
    --popover: 88 47% 100%;
    --popover-foreground: 88 60% 1%;
    --card: 0 0% 99%;
    --card-foreground: 88 60% 0%;
    --border: 88 4% 92%;
    --input: 88 4% 92%;
    --primary: 88 47% 25%;
    --primary-foreground: 0 0% 100%;
    --secondary: 58 47% 25%;
    --secondary-foreground: 0 0% 100%;
    --accent: 118 47% 25%;
    --accent-foreground: 0 0% 100%;
    --destructive: 21 83% 43%;
    --destructive-foreground: 0 0% 100%;
    --ring: 88 47% 25%;
    --chart-1: 88 47% 25%;
    --chart-2: 58 47% 25%;
    --chart-3: 118 47% 25%;
    --chart-4: 58 47% 28%;
    --chart-5: 88 50% 25%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 88 49% 3%;
    --foreground: 88 32% 99%;
    --muted: 58 30% 7%;
    --muted-foreground: 58 7% 69%;
    --popover: 88 49% 3%;
    --popover-foreground: 88 32% 99%;
    --card: 88 49% 4%;
    --card-foreground: 0 0% 100%;
    --border: 88 4% 15%;
    --input: 88 4% 15%;
    --primary: 88 47% 25%;
    --primary-foreground: 0 0% 100%;
    --secondary: 58 47% 25%;
    --secondary-foreground: 0 0% 100%;
    --accent: 118 47% 25%;
    --accent-foreground: 0 0% 100%;
    --destructive: 21 83% 51%;
    --destructive-foreground: 0 0% 0%;
    --ring: 88 47% 25%;
    --chart-1: 88 47% 25%;
    --chart-2: 58 47% 25%;
    --chart-3: 118 47% 25%;
    --chart-4: 58 47% 28%;
    --chart-5: 88 50% 25%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
